<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
  							  <!-- Sanity Flow -->
      <class name="api_tests.FE_test_Bulk_Data_Drift"/>
      <class name="api_tests.FE_Sanity_test_Bulk_Data_Drift"/> 
      <class name="api_tests.FE_Sanity_test_bulk_flow_microseg_data_drift"/> 
     <class name="api_tests.FE_Sanity_test_bulk_flow_multiple_checks_microseg"/> 
    <class name="api_tests.FE_Sanity_test_bulk_flow_multiple_checks_1"/> 
     <class name="api_tests.FE_Sanity_test_bulk_multiple_checks_2"/> 
 
 
 
 
								 <!-- Regression Flow -->
<!--    <class name="api_tests.FE_test_bulk_flow_multiple_checks_microseg"/> -->
      <class name="api_tests.FE_test_bulk_multiple_checks_2"/> 
 <!--     <class name="api_tests.FE_bulk_flow_automatic_validation_data_drift_chk"/> -->
          <class name="api_tests.FE_test_bulk_flow_multiple_checks_1"/> 
 <!--     <class name="api_tests.FE_test_bulk_flow_micro_seg_data_drift_chk"/>  -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
